.simplelink > ul {
    list-style: none;
    padding: 0;
}
.simplelink > ul li {
    padding: 10px 5px;
    margin: 0;
    background-color: #fff;
    display: inline-block;
    width: 100%;
}
.simplelink > ul li:last-child {
    border-bottom: none;
}
.simplelink-list {
    float: left;
    position: relative;
    margin-left: 10px;
    width: 100%;
}
.simplelink-list a.link-title {
    font-weight: bold;
}
.simplelink-list a.link-title:hover {
    text-decoration: none;
}
