<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom" translate="label" sortOrder="9999">
            <label>Custom Extensions</label>
        </tab>

        <section id="custom" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Login As Customer</label>
            <tab>custom</tab>
            <resource>Custom_LoginAsCustomer::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="login_as_customer_enabled" translate="label" type="select" showInDefault="1" canRestore="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>

            <group id="button_visibility" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Button visibility</label>

                <field id="customer_grid_page" translate="label" type="select" showInDefault="1" canRestore="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Grid Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="customer_edit_page" translate="label" type="select" showInDefault="1" canRestore="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Edit Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="order_view_page" translate="label" type="select" showInDefault="1" canRestore="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order View Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="order_grid_page" translate="label" type="select" showInDefault="1" canRestore="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order Grid Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>